*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data
outputs
submodules/diff-gaussian-rasterization/build
submodules/fused-ssim/build
submodules/simple-knn/build
SIBR_viewers/build
dust3r
tmp
tmp_exp
